<table *ngIf="competence">
    <tr>
        <td>Name</td>
        <td>{{ competence?.name }}</td>
    </tr>
    <tr>
        <td>Completed</td>
        <td>{{ competence?.completed }}</td>
    </tr>
    <tr>
        <td>Rate</td>
        <td>{{ competence?.rate }}</td>
    </tr>
    <tr>
        <td colspan=2>
            <button [disabled]="competence?.completed" class="delete" (click)="deleteCompetenceClick()">❌
                Delete</button>
            <button class="favorite" (click)="favoriteCompetenceClick()">⭐ Favorite</button>
            <button class="favorite" (click)="unFavoriteCompetenceClick()">🙁 Unfavorite</button>
        </td>
    </tr>
</table>