<ng-container *ngIf="competence">
    <h3>Edit</h3>
    <form novalidate [formGroup]="formGroup" (ngSubmit)="sumbit.emit(competence)">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" formControlName="name">
        </div>
        <div class="form-group">
            <input type="datetime" class="form-control" placeholder="Completed" formControlName="completed">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" placeholder="Rate" formControlName="rate">
        </div>
        <div>
            <button class="btn btn-primary" type="submit">✅ Save</button>
            <button class="btn btn-secondary" type="button" (click)="favorite.emit(competence)">⭐ Favorite</button>
            <button class="btn btn-secondary" type="button" (click)="unfavorite.emit(competence)">🙁 Unfavorite</button>
            <button class="btn btn-danger" type="button" (click)="delete.emit(competence)">❌ Delete</button>
        </div>
    </form>
</ng-container>