<ul>
    <li *ngFor="let competence of this.list;" [class.completed]="competence.completed" #competence
        (click)="currentCompetence=competence">
        <span *ngIf="competence.completed">✅</span>
        <span *ngIf="!competence.completed">⬜</span>
        <span>{{ competence.name }} {{ competence.completed | date:'short' }}</span>
        <span *ngIf="!competence.completed" class="delete" (click)="delete(competence)">❌</span>
    </li>
</ul>

<app-competence [competence]="currentCompetence" (onDelete)=delete($event)></app-competence>

<h3>Add something cool</h3>
<input type="text" #txtName (keyup.enter)="onAdd(txtName)">

<h3>Make it colorful</h3>
<input type="text" #txtColor (keyup.enter)="onColor(txtColor)">